<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<style>
  .swiper.myClass {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div class="swiper myClass">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        <img width="100%" height="100%" src="{{ block.settings.image | img_url: 'master' }}" alt="Slider Image" />
      </div>
    {% endfor %}
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  var swiper = new Swiper('.myClass', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
  });
</script>

{% schema %}
{
  "name": "Slider Custom",
  "tag": "section",
  "class": "featured-collectionss-custom index-section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Add Featured Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Custom"
    }
  ]
}
{% endschema %}
